body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000000;
  opacity: 85%;
}

.logo {
  margin-left: 300px;
  margin-right: 20px;
}

.logo img {
  height: 60px;
  width: auto;
}

nav {
  display: flex;
  margin-right: 20px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #e21111;
}

.kayit-ol {
  background-color: transparent;
  border: 3px solid #e21111;
  color: #e21111;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.kayit-ol:hover {
  background-color: #e21111;
  color: #fff;
}


main {
  padding: 20px;
}

.paketleri-gor {
  background-color: #e21111; /* Kırmızı arka plan */
  color: #fff;              /* Beyaz yazı */
  border: none;             /* Kenarlığı kaldır */
  border-radius: 10px;      /* Köşeleri Yuvarlat */
  padding: 10px 20px;       
  cursor: pointer;
  margin-top: 20px;         /* Formdan biraz uzaklaştırın */
  font-size: 16px;
  font-weight: bold;
  display: block;           /* Blok seviyesinde olsun */
  margin: 20px auto;        /* Ortalamak için */
  width: 200px;             /* Butonun genişliğini ayarla*/
}

.paketleri-gor:hover {
  background-color: #c50e0e; /* Hover etkisi */
}

.odeme-bilgileri {
  background-color: #e21111;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: block;          
  margin: 20px auto;     
  width: 200px;          
}

.odeme-bilgileri:hover {
 background-color: #c50e0e;
}

.form iframe {
border: none;  
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); 
display: block;
margin-left: auto;
margin-right: auto;
}

.paket-bolumu {
background-color: #fff;
padding: 20px;
margin: 20px 0; 
text-align: center;
border-radius: 10px; 
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); 
}

.paket-bolumu h2 { 
color: #e21111; 
margin-top: 0;
}

.paket {
border: 1px solid #ddd; 
padding: 15px;
margin-bottom: 15px;
}

.paket h3 {
color: #333;
}

.fiyat {
color: #e21111;
font-weight: bold;
}

.modal {
  display: none; /* Varsayılan olarak gizli */
  position: fixed; /* Sayfada sabit kalın */
  z-index: 1; /* En üstte */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* İçerik gerektiğinde kaydırılabilir hale getirin*/
  background-color: rgba(0, 0, 0, 0.4); /* Yarı saydam siyah arka plan */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* %15 üstten/alttan, otomatik merkezleme */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* İstenilen genişliğe ayarlanabilir */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: rgb(56, 56, 56);
  color: white;
  padding: 20px;
  text-align: center;
}

.sosyal-medya {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.sosyal-medya a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
  transition: 0.3s;
}

.sosyal-medya a:hover {
  color: #e21111;
}

.telif-hakkı {
  margin: 0;
}

@media (max-width: 900px) { 
  .logo {
      margin-left: 20px; 
  }

  nav a {
      margin-right: 10px; 
  }

  .kayit-ol {
    margin-right: 20px;
    font-size: 14px; 
  }  
}

@media (max-width: 600px) {
  header {
      flex-direction: column; 
      align-items: flex-start;
  }

  .logo {
      margin-left: 20px; 
      margin-bottom: 15px; 
  }

  nav a {
      margin-bottom: 10px; 
  }

  .kayit-ol {
    margin-right: 0;
    width: 100%;
  }

  .form iframe {
    width: 100%; 
} 
} 

@media (max-width: 900px) {
.logo {
  margin-left: 20px;
}

nav a {
  margin-right: 10px;
}

.kayit-ol {
  margin-right: 20px;
  font-size: 14px; 
}   
}

@media (max-width: 600px) {
header {
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-left: 20px; 
  margin-bottom: 15px;
}

nav a {
  margin-bottom: 10px; 
}

.kayit-ol {
  margin-right: 0;
  width: 100%;
}

.icerik-bolmesi {
  width: 80%; 
}
} 

@media (min-width: 768px) {
.logo {
  margin-left: 200px;
}

nav a {
  font-size: 20px; 
}
}

@media (max-width: 767px) {
header {
  flex-direction: column; 
  align-items: center;
}

.logo {
  margin-left: 20px;
}

nav {
  margin-top: 10px; 
}

.kayit-ol {
  margin-right: 75px;
  align-items: center;
  padding: 10px 0;
  margin-left: 75px;
}
}