body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Stil genel konteyner */
.paketlerimiz {
  margin-top: 40px;
  text-align: center;
}

.paketlerimiz h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #e21111; /* Kırmızı */
}

.paket-kutulari {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Her paket için stillendirme */
.paket {
  flex: 0 0 30%;
  margin: 20px;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff; /* Beyaz */
  transition: 0.3s;
}

.paket:hover {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.3);
}

.paket h3 {
  margin-bottom: 15px;
  color: #000; /* Siyah */
}

.paket ul {
  list-style: none;
  padding: 0;
}

.paket ul li {
  margin-bottom: 5px;
  color: #666;
}

.paket .fiyat {
  font-weight: bold;
  margin-top: 15px;
  color: #e21111; /* Kırmızı */
}

@media (max-width: 768px) {
  .paket {
    flex: 0 0 100%;
  }
}

@media (max-width: 600px) {
  .paketlerimiz h2 {
    font-size: 28px;
  }
}
